<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.kha333n.cs506.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeServicesServlet</servlet-name>
        <servlet-class>com.kha333n.cs506.EmployeeServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalaryServlet</servlet-name>
        <servlet-class>com.kha333n.cs506.ViewSalaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>com.kha333n.cs506.logOut</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>WithdrawSalaryServlet</servlet-name>
        <servlet-class>com.kha333n.cs506.WithdrawSalaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>com.kha333n.cs506.indexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawAuthenticate</servlet-name>
        <servlet-class>com.kha333n.cs506.WithdrawAuthenticate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServicesServlet</servlet-name>
        <url-pattern>/employeeservicesservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalaryServlet</servlet-name>
        <url-pattern>/viewsalaryservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawSalaryServlet</servlet-name>
        <url-pattern>/withdrawsalaryservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawAuthenticate</servlet-name>
        <url-pattern>/withdrawauthenticate</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
